.card {
  padding: 24px 24px 16px 24px;
  border-radius: 16px;

  &:hover {
    background: var(--black6);
  }

  display: flex;
  width: 100%;
}

.img {
  border-radius: 16px;
  margin-bottom: 24px;
}

.title {
  margin-bottom: 20px;
}

.content {
  margin-bottom: 14px;
}
