.header {
  padding: 0 10px;
  display: flex;
  align-items: center;
  font-style: normal;
  position: sticky;
  top: 0;
  background: #fff;
}

.logoText {
  padding: 14px;
}

.main {
  margin-top: 56px;
}
